<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419187902864-l66vp4rnr6crn680rbovd1amqftupvcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419187902864-l66vp4rnr6crn680rbovd1amqftupvcj</string>
	<key>API_KEY</key>
	<string>AIzaSyDrSAgMBDWN-n4zapN5hAzzr4DpwCmRM6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>419187902864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneclimb.oneclimbapp</string>
	<key>PROJECT_ID</key>
	<string>oneclimb</string>
	<key>STORAGE_BUCKET</key>
	<string>oneclimb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419187902864:ios:932d20bcacfea0d61e8b15</string>
</dict>
</plist>